.doodle {
    position: fixed;
    z-index: -1;

}


.tudo{
    width: 75%;
    background: #fff;
    margin: auto;
    padding: 3rem;
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.2);
    margin-top: 0px; /* Ajuste este valor conforme necessário para evitar sobreposição com a aba fixa */
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    background-color: rgb(220, 220, 220);
    border-radius: 5px;
    margin: auto;
    padding: 1px;
    transition: 250ms linear
   
}

.menu:hover{
    border-radius: 10px; /* Aumenta o raio ao passar o mouse para criar um efeito suavizado */
    
}

a{  
    color:black;
    text-decoration: none; /* retira todas as alterações 
                            feitas nas tags de links */

}

.name,
.role {

    text-align: center;
}

.role{
    font-style: italic;
}

.bio {
    text-align: justify;
}

a:hover{ /* hover: ação que acontece ao passar o mouse em cima */
    text-decoration: underline;
}

.menu ul{
    display: flex;
    justify-content:center; /* justifica o conteudo. Necessida do display: flex */
}

.menu li{
    margin-right: 50px;
    list-style: none; /* retira os estilos das listas da classe Menu */
    font-weight: bold;
}

.img-thumbnail {
    height: 20px;
    width: 20px;
   }

.contatos{
    font-size: 10px;
}